body {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}
#map, #wiki, #news, #weather {
    display: none;
    margin: 1em 0;
    overflow: hidden;
    padding: 1em;
}


#titleContainer {
    background-color: #2727bf;
    box-shadow: 0px 0px 5px 0px black;
    height: 120px;
    text-align: center;
    width: 100%;
}
#title {
    color: white;
    font-family: bree serif;
    text-shadow: 0px 0px 7px black;
}
#addCity {
    background: transparent;
    border: 0px;
    color: white;
    cursor: pointer;
    outline: none;
}
#addCity:active {
	opacity: 0.5;
}
#cityNameContainer {
	width: 100%;
}
#cityName {
	font-family: bree serif;
    text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 6px 1px, rgba(0, 0, 0, 0.1) 0px 0px 5px, rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 3px 5px, rgba(0, 0, 0, 0.25) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.15) 0px 20px 20px;
    font-size: 36px;
    text-align: center;
    width: 100%;
}
#map {
	min-height: 400px;
    box-shadow: 0px 0px 10px 0px black;
}
#wiki {
    box-shadow: 0px 0px 10px 0px black;
}
#wikiData {
	margin: 0;
    font-family: bree serif;
    font-size: 15px;
}
#news {
    box-shadow: 0px 0px 10px 0px black;
}
.fontFamily {
	font-family: bree serif;
}
a:visited {
	color: blue;
}
a:active {
	opacity: 0.5;
}
#weather {
    box-shadow: 0px 0px 10px 0px black;
    grid-template-columns: 35% auto 35% auto;
}
#weather span {
    padding: 0.2em;
}
.weatherFontT, .weatherFont {
	font-family: bree serif;
}
.weatherFont {
	color: #6b580d;
}
#img {
	position: absolute;
    height: 60px;
    left: 0px;
}
#errorBox {
	position: absolute;
    width: 400px;
    height: 120px;
    box-shadow: 0px 0px 10px 0px black;
    left: 497px;
    top: 270px;
    display: none;
    justify-content: center;
    align-items: center;
}
#errorMessage {
	font-family: bree serif;
    color: tomato;
}

@media screen and (max-width: 800px) {
    #map, #wiki, #news, #weather {
        height: auto;
        width: 100%;
    }
}

@media screen and (min-width: 801px) {
    #map, #wiki, #news, #weather {
        width: 45%;
    }
}
